/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

img{
	max-width: 100%;
}

.header{
	position: relative;
	z-index: 0;
	// color: white;
	height: 100vh;
	width: 100%;
	background: #161717;
	// background-image: linear-gradient(#3B3B3B top 25%, #2C2F31 50%, #161717 75%, #10100D 100%);
	background-size: cover;
	background-position: center;
	margin-bottom: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.initMessage{
		color: white;
		// background: -webkit-linear-gradient(top, #008080, #fff);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		font-size: 3rem;
		display: none;
	}

	hr{
		border: 1px solid #9E1E11;
		width: 10rem;
		margin-bottom: 0.625rem;
	}

	.about{
		display: none;
		font-size: 1.25rem;
		width: 90%;
		margin: 0 auto;
		text-align: justify;

		.csharp{
			color: #FFA400;
		}
	}
}

.text{
	color: black;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	margin-bottom: 1rem;
}
