/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/

// @import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);

// *{
// 	padding: 0;
// 	margin: 0;
// 	color: white;
// 	overflow-x: hidden;
// 	// background: #ecf0f1;
// 	// font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
// 	// font-family: 'Lato', sans-serif;
// 	font-family: 'Open Sans', sans-serif;
// 	font-weight: 300;
// }

img{
	max-width: 100%;
}

header{
	// display: none;
	position: relative;
	z-index: 0;
	// color: white;
	height: 100vh;
	width: 100%;
	background: #131e2b; //#1A293A; //#1A2929;//#202733;
	background-image: radial-gradient(#3B3B3B 25%, #2C2F31 50%, #161717 75%, #10100D 100%);
	background-size: cover;
	background-position: center;
	margin-bottom: 8%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.initMessage{
		color: white;
		// background: -webkit-linear-gradient(top, #008080, #fff);
		// -webkit-background-clip: text;
		// -webkit-text-fill-color: transparent;
		font-size: 3rem;
		display: none;
	}

	hr{
		border: 1px solid #9E1E11;
		width: 10rem;
		margin-bottom: 0.625rem;
	}

	.about{
		font-size: 1.25rem;
		width: 90%;
		margin: 0 auto;
		text-align: justify;

		.csharp{
			color: #FFA400;
		}
	}
}

.text{
	color: black;
	width: 80%;
	margin: 0 auto;
	text-align: justify;
	margin-bottom: 1rem;
}



#angularName{
	// position: absolute;
	// top: 30em; left: 5em;
	position: center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	flex-direction: -webkit-column;
	justify-content: center;
	align-items: center;
	text-align: center;
	// padding: 0.5em;
	// min-width: 10em; max-width: 15em; min-height: 5em;
	font-size: 1.5rem;
	color: #333;
	// background: #dedfdf;

	h1{
		font-size: 2rem;
	}

	hr{
		border: 0;
		border-top: 1px solid #ecf0f1;
		border-bottom: 1px solid #ecf0f1;
	}

	input{
		height: 1.5rem;
		min-width: inherit;
		padding-left: 0.5rem;
		font-size: 0.5rem;
		border-radius: 3px;
		border: 1px solid #cccccc;
	}
}
