/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/

@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
// @import url(https://fonts.googleapis.com/css?family=Lato:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

$backgroundColor: whitesmoke;
$menuLinesColor: #5F6363; //#46607D;
// $menuBackground: #131e2b;

*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Oswald', sans-serif;
	// font-size: 16pt;
	font-weight: 300;
}

::selection{
	color: #9CA3A3;
	background: #3F444A;
}

html, body{
	height: 105vh;
	position: relative;
	overflow: hidden;
	background: $backgroundColor;
	background: #161717;
}

a{
	text-decoration: none;
	color: inherit;
}

img{
	// max-width: 100%; max-height: 100%;
}

.menu{
	display: none;
	flex-direction: column;
	align-items: center;
	position: absolute;
	// z-index: 1000;
	top: 93vh; left: 0; right: 0; bottom: 0;

	#menuList{
		border: 2px solid $menuLinesColor;
		padding: 0.5rem;
	}

	.menuItems{
		display: inline-block;
		font-size: 1.5rem;
		color: $menuLinesColor;
	}

	#about::before, #projects::before, #contact::before{
		content: "|";
		padding-left: 0.5rem; padding-right: 0.5rem;
	}
}

// #menuIcon{
// 	min-width: 3rem;
// 	min-height: 2rem;
// 	margin: 1.5rem;
// 	z-index: 2000;
// 	position: absolute;
// 	cursor: pointer;
//
//     .menuLines{
//     	background-color: $menuLinesColor;
//     	width: 3rem;
//     	height: 0.2rem;
//     	-webkit-transform-origin: left;
//     	transform-origin: left;
//     }
//
//     #line2, #line3{
//     	margin-top: 5px;
//     }
//
//     #line2{
//     	height: 0.19rem;
//     }
//
//     #line3{
//     	height: 0.19rem;
//     }
// }
