/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/

$backgroundColor: whitesmoke; //#ecf0f1;
$menuLinesColor: #9E1E11; //#ffcc00; //#FFA400; //#9E1E11; //#38201E; //#1A1F29;
// $menuItemsBack: #202633;
$menuBackground: #131e2b;

*{
	padding: 0;
	margin: 0;
	color: white;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

body{
	background: $backgroundColor;
}

a{
	text-decoration: none;
	color: inherit;
}

#menuIcon{
	min-width: 3rem;
	min-height: 2rem;
	margin: 1.5rem;
	z-index: 2000;
	position: absolute;
	cursor: pointer;

    .menuLines{
    	background-color: $menuLinesColor;
    	width: 3rem;
    	height: 0.2rem;
    	-webkit-transform-origin: left;
    	transform-origin: left;
    }

    #line2, #line3{
    	margin-top: 5px;
    }

    #line2{
    	height: 0.19rem;
    }

    #line3{
    	height: 0.19rem;
    }
}

.menu{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.menuItems{
		font-size: 1.5rem;
	}

	#games, #about{
		float: right;
		margin-top: -2.1rem; //margin-left: -0.5rem;
		// display: inline-flex;
	}
}

// .menu{
// 	background: $menuBackground;
// 	height: 101vh;
// 	width: 100%;
// 	position: fixed;
// 	overflow: hidden;
// 	z-index: 1000;
// 	display: none;
//
// 	#home{
// 		margin-top: 20%;
// 	}
//
//     .menuItems{
// 		// display: block;
//
// 		a{
// 			// display: block;
// 			padding: 1rem;
// 			color: white; //#4B5975;
// 			background-color: $menuLinesColor;
// 	    	font-size: 2.5rem;
// 	    	font-weight: 300;
// 			width: 84%;
// 			margin-top: 4%;
// 			margin-left: auto; margin-right: auto;
// 	    	transition: 250ms;
// 		}
//
// 		#desc{
// 			font-size: 1.25rem;
// 			opacity: 0.5;
// 		}
//     }
//
// 	@media screen and (orientation: landscape) {
// 		// overflow: scroll;
// 		.menuItems{
// 			display: inline-block;
// 			a{
// 				width: 58%;
// 				margin-left: 2%;
// 			}
//
// 			#aHome{
// 				margin-top: -35%;
// 			}
//
// 			#aWeb{
// 				margin-left: -20%;
// 			}
//
// 			#aGames{
//
// 			}
//
// 			#aAbout{
// 				width: 120%;
// 			}
// 		}
// 	}
//
//     @media screen and (min-width: 40.5rem){
// 		a{
// 			margin-left: 7.5%;
// 		}
//
//     	#bottomItem{
//     		margin-bottom: 160%;
//     	}
//     }
//
// }
