/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/

@import url(https://fonts.googleapis.com/css?family=Bad+Script);
// @import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
// @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);

$backgroundColor: whitesmoke;
$menuLinesColor: #5F6363; //#46607D;
// $menuBackground: #131e2b;

*{
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Bad Script', cursive;
	// font-size: 16px;
	font-weight: 300;
}

::selection{
	color: #9CA3A3;
	background: #3F444A;
}

html, body{
	// height: 105vh;
	// position: relative;
	// overflow: hidden;
	background: $backgroundColor;
	background: #161717;
}

li{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

img{
	// max-width: 100%; max-height: 100%;
}

.menuParent{
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%; width: 100%;
	position: fixed;
	z-index: 20;
	background: rgba(0, 0, 0, 0.5);

	.menu{
		flex-direction: column;
		align-items: center;
		width: 87.5%;
		background: #0D404A;
		// z-index: 1000;
		// border: 2px solid $menuLinesColor;

		#menuList{
			width: 100%;
			padding: 0.5rem;
		}

		.menuItems{
			width: 100%;
			text-align: center;
			font-size: 1.25rem;
			color: white; //$menuLinesColor;
		}

		// #about::before, #projects::before, #contact::before{
		// 	content: "|";
		// 	padding-left: 0.5rem; padding-right: 0.5rem;
		// }
	}
}

.menuContainer{
	position: fixed;
	top: 90vh; left: 0; bottom: 0; right: 0;
	z-index: 2000;
	display: flex;
	flex-direction: column;
	align-items: center;

	#menuIcon{
		cursor: pointer;
		// border: 1px solid white;

	    .menuLines{
	    	background-color: $menuLinesColor;
	    	width: 2rem;
	    	height: 0.1rem;
	    	-webkit-transform-origin: left;
	    	transform-origin: left;
	    }

	    #line2, #line3{
	    	margin-top: 0.3125rem;
	    }

	    // #line2{
	    // 	height: 0.19rem;
	    // }
		//
	    // #line3{
	    // 	height: 0.19rem;
	    // }
	}
}
