/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  padding: 0;
  margin: 0;
  color: white;
  overflow-x: hidden;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

::selection {
  color: #9CA3A3;
  background: #3F444A;
}

body {
  background: whitesmoke;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu .menuItems {
  display: inline-block;
  font-size: 1.5rem;
  color: #46607D;
}
.menu #break {
  padding-left: 1rem;
  padding-right: 1rem;
}
