/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
* {
  padding: 0;
  margin: 0;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
}

::selection {
  color: #9CA3A3;
  background: #3F444A;
}

html, body {
  height: 105vh;
  position: relative;
  overflow: hidden;
  background: whitesmoke;
  background: #161717;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: none;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 93vh;
  left: 0;
  right: 0;
  bottom: 0;
}
.menu #menuList {
  border: 2px solid #5F6363;
  padding: 0.5rem;
}
.menu .menuItems {
  display: inline-block;
  font-size: 1.5rem;
  color: #5F6363;
}
.menu #about::before, .menu #projects::before, .menu #contact::before {
  content: "|";
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
