/*
		Author: Luke Newell (@Myzostal)
		Created: 07/09/2015

        Updated By: Luke Newell (@Myzostal)
		Updated: 01/11/2015
*/
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
* {
  padding: 0;
  margin: 0;
  font-family: 'Bad Script', cursive;
  font-weight: 300;
}

::selection {
  color: #9CA3A3;
  background: #3F444A;
}

html, body {
  background: whitesmoke;
  background: #161717;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.menuParent {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 105vh;
  width: 100%;
  position: fixed;
  z-index: 20;
  background: rgba(0, 0, 0, 0.5);
}
.menuParent .menu {
  flex-direction: column;
  align-items: center;
  width: 87.5%;
  background: #002633;
}
.menuParent .menu #menuList {
  width: 100%;
  padding: 0.5rem;
}
.menuParent .menu .menuItems {
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: white;
}

.iconContainer {
  position: fixed;
  top: 90vh;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.iconContainer #menuIcon {
  cursor: pointer;
}
.iconContainer #menuIcon .menuLines {
  background-color: #5F6363;
  width: 2rem;
  height: 0.1rem;
  -webkit-transform-origin: left;
  transform-origin: left;
}
.iconContainer #menuIcon #line2, .iconContainer #menuIcon #line3 {
  margin-top: 0.3125rem;
}
